.toast {
  z-index: 999;
  padding: 1rem;
}

.Toastify__toast {
  border-radius: 3rem;
  background-color: rgb(46, 0, 46) !important;
  color: white !important;
  box-shadow: none;
  border-radius: 3rem;
  background-color: transparent;
  height: max-content;
  min-height: 0;
  padding: 0.3rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  width: max-content;
  margin-inline: auto;
}

.Toastify__toast-icon {
  display: none;
}

.toast-body {
  text-align: center;
}

.toast-progress {
  background-color: white !important;
}

.Toastify__close-button {
  display: none;
  color: white;
}
